<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <section
			id='df_amazon'
			translate='label'
			type='text'
			showInDefault='1'
			showInWebsite='1'
			showInStore='1'
		>
			<tab>_df</tab>
			<label>Amazon</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Df_Amazon::config</resource>
            <!--
                2015-09-25
                1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
				3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
                в английском алфавите.
            -->
            <group
                id='common'
                translate='label'
                type='text'
                sortOrder='1'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>Common</label>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<ul class='df-note'>
<li><a href='https://mage2.pro/t/1696' target='_blank'>How to switch a merchant account to the Sandbox View?</a></li>
<li><a href='https://mage2.pro/t/1748' target='_blank'>What is the difference between the Sandbox and Production modes for «<b>Login with Amazon</b>» service?</a></li></ul>
]]></comment>
				</field>
				<field
					id='merchantId'
					translate='label'
					type='text'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Merchant ID</label>
					<comment><![CDATA[«<b>Merchant ID</b>» (also known as «<b>Seller ID</b>», «<b>Merchant Token</b>») of your Amazon Seller account.<br/><a href='https://mage2.pro/t/1708' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry validate-length maximum-length-14 minimum-length-14</validate>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
				<field
					id='allowedJavaScriptOrigin'
					translate='label'
					type='Df\Amazon\FE\JsOrigin'
					dfWebhook_requireHTTPS='true'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Allowed JavaScript Origins</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1738' target='_blank'>Set it in your Amazon Seller account.</a>]]></comment>
				</field>
				<group
					id='mws'
					translate='label'
					type='text'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Marketplace Web Service Credentials</label>
					<field
						id='accessKeyId'
						translate='label'
						type='text'
						sortOrder='1'
						showInDefault='1'
						showInWebsite='1'
						showInStore='1'
					>
						<label>Access Key ID</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/1713' target='_blank'>Where to find it?</a>]]></comment>
						<validate>required-entry validate-length maximum-length-20 minimum-length-20</validate>
					</field>
					<field
						id='secretAccessKey'
						translate='label'
						type='obscure'
						sortOrder='2'
						showInDefault='1'
						showInWebsite='1'
						showInStore='1'
					>
						<label>Secret Access Key</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/1714' target='_blank'>Where to find it?</a>]]></comment>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
<!--
2016-11-23
Раньше тут ещё стояло: «validate-length maximum-length-40 minimum-length-40».
Однако после обновления Magento 2016-08-06
валидатор стал ложно срабатывать на звёздочки ранеё введённого пароля:
«validate-length maximum-length-64 minimum-length-64».
Аналогичное проявление для модуля Dfe_TwoCheckout:
https://github.com/mage2pro/2checkout/blob/1.1.9/etc/adminhtml/system.xml#L103
-->
						<validate>required-entry</validate>
					</field>
				</group>
            </group>
        </section>
    </system>
</config>