<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
        <section id='df_payment'>
            <!--
                2015-09-25
                1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
				3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
                в английском алфавите.
            -->
            <group
                id='lpa'
                translate='label'
                type='text'
                sortOrder='1216'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>Login and Pay with Amazon</label>
                <field
                    id='enable'
                    translate='label'
                    type='Df\Framework\Data\Form\Element\Checkbox'
                    sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
                >
                    <label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/login-and-pay-with-amazon' target='_blank'>Login and Pay with Amazon</a>» extension?]]></comment>
                </field>
				<field
					id='test'
					translate='label'
					type='Df\Framework\Data\Form\Element\Checkbox'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Sandbox Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1696' target='_blank'>How to switch a merchant account to the Sandbox View?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='merchantId'
					translate='label'
					type='text'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='0'
					showInStore='0'
				>
					<label>Merchant ID</label>
					<comment><![CDATA[«<b>Merchant ID</b>» (also known as «<b>Seller ID</b>», «<b>Merchant Token</b>») of your Amazon Seller account.<br/><a href='https://mage2.pro/t/1708' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry validate-length maximum-length-14 minimum-length-14</validate>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
				<field
					id='webhook'
					translate='label'
					type='Df\Framework\Data\Form\Element\Webhook'
					dfWebhook_routePath='dfe-lpa'
					dfWebhook_requireHTTPS='true'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='0'
					showInStore='0'
				>
					<label>Notifications URL</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1717' target='_blank'>How to setup the Instant Notifications? </a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='allowedJavaScriptOrigin'
					translate='label'
					type='Dfe\LPA\Element\JsOrigin'
					dfWebhook_requireHTTPS='true'
					sortOrder='4'
					showInDefault='1'
					showInWebsite='0'
					showInStore='0'
				>
					<label>Allowed JavaScript Origins</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1738' target='_blank'>Set it in your Amazon Seller account.</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<group
					id='mws'
					translate='label'
					type='text'
					sortOrder='5'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Marketplace Web Service Credentials</label>
					<depends><field id='enable'>1</field></depends>
					<field
						id='accessKeyId'
						translate='label'
						type='text'
						sortOrder='1'
						showInDefault='1'
						showInWebsite='0'
						showInStore='0'
					>
						<label>Access Key ID</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/1713' target='_blank'>Where to find it?</a>]]></comment>
						<validate>required-entry validate-length maximum-length-20 minimum-length-20</validate>
						<depends>
							<field id='enable'>1</field>
						</depends>
					</field>
					<field
						id='secretAccessKey'
						translate='label'
						type='obscure'
						sortOrder='2'
						showInDefault='1'
						showInWebsite='0'
						showInStore='0'
					>
						<label>Secret Access Key</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/1714' target='_blank'>Where to find it?</a>]]></comment>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<validate>required-entry validate-length maximum-length-40 minimum-length-40</validate>
						<depends>
							<field id='enable'>1</field>
						</depends>
					</field>
				</group>
				<group
					id='login'
					translate='label'
					type='text'
					sortOrder='6'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Login with Amazon</label>
					<depends><field id='enable'>1</field></depends>
					<group
						id='credentials'
						translate='label'
						type='text'
						sortOrder='1'
						showInDefault='1'
						showInWebsite='1'
						showInStore='1'
					>
						<label>Credentials</label>
						<field
							id='id'
							translate='label'
							type='text'
							sortOrder='1'
							showInDefault='1'
							showInWebsite='0'
							showInStore='0'
						>
							<label>Client ID</label>
							<comment><![CDATA[<a href='https://mage2.pro/t/1705' target='_blank'>Where to find it?</a>]]></comment>
							<validate>required-entry validate-length maximum-length-61 minimum-length-61</validate>
						</field>
						<field
							id='secret'
							translate='label'
							type='obscure'
							sortOrder='2'
							showInDefault='1'
							showInWebsite='0'
							showInStore='0'
						>
							<label>Client Secret</label>
							<comment><![CDATA[<a href='https://mage2.pro/t/1706' target='_blank'>Where to find it?</a>]]></comment>
							<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
							<validate>required-entry validate-length maximum-length-64 minimum-length-64</validate>
						</field>
					</group>
					<group
						id='locations'
						translate='label'
						type='text'
						sortOrder='2'
						showInDefault='1'
						showInWebsite='1'
						showInStore='1'
					>
						<label>Button Locations</label>
						<field
							id='header'
							translate='label'
							type='Df\Framework\Data\Form\Element\Checkbox'
							sortOrder='1'
							showInDefault='1'
							showInWebsite='1'
							showInStore='1'
						>
							<label>Show in Header?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the «<b>Login with Amazon</b>» button in the header of the frontend pages, near to the standard «<b>Sign In</b>» and «<b>Create an Account</b>» links.]]></comment>
						</field>
						<field
							id='loginPage'
							translate='label'
							type='Df\Framework\Data\Form\Element\Checkbox'
							sortOrder='2'
							showInDefault='1'
							showInWebsite='1'
							showInStore='1'
						>
							<label>Show on Login Page?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the «<b>Login with Amazon</b>» button on the «<b>Customer Login</b>» page, above the standard «<b>Registered Customers</b>» and «<b>New Customers</b>» blocks.]]></comment>
						</field>
						<field
							id='registratonPage'
							translate='label'
							type='Df\Framework\Data\Form\Element\Checkbox'
							sortOrder='3'
							showInDefault='1'
							showInWebsite='1'
							showInStore='1'
						>
							<label>Show on Registration Page?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the «<b>Login with Amazon</b>» button on the «<b>Create New Customer Account</b>» page, above the standard registration form.]]></comment>
						</field>
					</group>
				</group>
            </group>
        </section>
    </system>
</config>